# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Destroyed Platform/Temp/UnityLockfile
Destroyed Platform/Library/shadercompiler-UnityShaderCompiler.exe0.log
Destroyed Platform/.vs/Destroyed Platform/v14/.suo
*.suo
Destroyed Platform/Assets/Materials/Shader.meta
*.meta
Destroyed Platform/Library/metadata/76/76cecc6e22bff734cb66b7694a848df0
*.info
Destroyed Platform/Library/ScriptAssemblies/Assembly-CSharp.dll
*.dll
Destroyed Platform/Library/ScriptAssemblies/Assembly-UnityScript-Editor.dll.mdb
*.mdb
Destroyed Platform/Library/ScriptAssemblies/Assembly-UnityScript.dll
Destroyed Platform/Temp/3dsMax.log
